.swiper{
    width:30%;
}
.info-container{
    width:70%;
    padding:2%;
    display:flex;
    flex-direction:column;
    gap:2%;
}
.adopt-button{
    background-color:#271C45 !important;
    color:white !important;
}
.chip-container{
    background-color:#271C45 !important;
    color:white !important;
}