.header-container{
    width:100%;
    height:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color: #271C45 !important;

}
.icon-container{
    display:flex;

}