html, body, #root {
  height: 100%;
  margin: 0;
}

.page-container{
    height:100vh;
    width:100%;
    display:flex;
    flex-direction:column;

}

.page-header{
    height:10vh;
    width:100%;

}
.page-content{
    height:90vh;
    overflow-y:auto;
    width:100%;
    background-color:#D0C3C3 !important;
    overflow-x:hidden;

}
.page-content-container{
    width:100%;
    padding:3%;
    box-sizing: border-box;

}